#tutors-top {
    padding-top: 150px;
    height: 40vh;
    /* background-color: #fee65eff; */
}

#tutors-bottom {
    padding: 50px;
    height: 60vh;
    /* background-color: #fee65eff; */
}

.tutors-col {
    background-color: #b597ff;
    color: #323232;
    /* #ffea84 */
    padding: 30px;
    border-radius: 10px;
}