.App {
  text-align: center;
  /* background-image: #fee65eff; */
  background-image:  /*url(./img/test-background2.png), */ linear-gradient(#7a7eff, #517fff);
  background-repeat: no-repeat;
  /* background-image: linear-gradient(#7a7eff, #517fff); */
  min-height: 100vh;
}

/* midnight #69306D */
/* russian violet #0E103D */
/* turquoise green #BBE1C3 */
/* isabeline #F4F3EE */

